@model IList<string[]>


<br />
@using (Html.BeginForm("GetExcelBalanceGeneral", "Contabilidad", FormMethod.Post))
{
    <div class="pull-right">
        <br />
        <button class="btn btn-success waves-effect waves-light pull-right" value="Exportar" name="Save" type="submit" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
            <span class="btn-label"><i class="fa fa-file-excel-o"></i></span>Exportar
        </button>
        <br />
    </div>
    <br />
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header-2">
            <h2 class="page-header">Balance General</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Contabilidad Reportes</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li class="active">
                    Balance General
                </li>
            </ol>
        </div>
    </div>
</div>


<div>
    <div class="row form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Año</label>
                        <input type="text" class="form-control" name="AnioBalance" id="AnioBalance" value="@DateTime.Now.Year.ToString()" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="" class="control-label">Mes:</label>
                        <select name="MesBalance" id="MesBalance" class="form-control">
                            <option value="">Todos</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="text" class="form-control date" name="fechainicio" id="fechainicio" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="text" class="form-control date" name="fechafin" id="fechafin" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <button class="btn btn-success centrar" id="Buscar">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="parshial">
                @if(Model.Count() == 3)
                {
                    <div class="alert alert-danger" role="alert">
                        No se encontraron registros.
                    </div>
                }else { 
                @Html.Partial("BalanceGeneralPartial", Model)
                }
            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin-top: 25px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Buscar').on("click", function () {

            $('#parshial').html('<div class="row" id="carga"><center><b>Cargando...</b></center></div>');

            filtrar();

        });

        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd-mm-yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        $("#fechainicio").datepicker();
        $("#fechafin").datepicker();

    });

    function filtrar()
    {
        var Anio = $('#AnioBalance').val();
        var Mes = $('#MesBalance').val();

        var fechaInicio = $('#fechainicio').val();
        var fechaFin = $('#fechafin').val();
        $.ajax
        ({
            url: "BalanceGeneralPartial?FechaInicio=" + fechaInicio + "&FechaFin=" + fechaFin +"&Anio="+ Anio +"&Mes="+Mes,
            success: function (html)
            {
                $("#parshial").html(html);
            }
        });
    }
</script>