@model IList<string[]>

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th class="FontSize text-center">CÓDIGO</th>
            <th class="FontSize text-center">CUENTAS CONTABLES</th>
            <th class="FontSize text-center">TOTAL CTA CONTABLE</th>
        </tr>
    </thead>
    <tbody>

        @foreach (string[] rowThingie in Model)
        {


            @: <tr class="odd gradeX">
            for (int i = 0; i < rowThingie.Length; i++)
            {

                string classAlign = "text-left";
                if (i == 2 || i == 3)
                {
                    classAlign = "text-center";
                }

                <td class="@classAlign">@rowThingie[i]</td>
            }


            
       @: </tr>
        }
    </tbody>
</table>


