
@{
    ViewBag.Title = "CentroCostosPresupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity;

<div class="clearfix"></div>
<form>
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header-2">
                <h2 class="page-header">Centro de Costos</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Contabilidad</a>
                    </li>
                    <li>
                        <a href="#">-</a>
                    </li>
                    <li class="active">
                        Centro de Costos Presupuesto
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <!-- Filtros -->
    @*<div class="row m-t-15">
            <div class="col-md-12">

                <div class="form-group">
                    <div class="col-md-2">

                    </div>

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-2">

                    </div>

                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>*@
</form>
<!-- Fin Filtros -->


<div class="row m-t-10">
    <div class="col-sm-8">
        <div class="card-box">
            
    @using (Html.BeginForm("CentroCostosPresupuesto", "Contabilidad", FormMethod.Post))
    {  
             <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 Guardar pull-right">
                    <button type ="submit" class="btn btn-success">Guardar Cambios</button>
                </div>
            </div>
            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="tabla">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Tiene Presupuesto?</th>
                                <th >Presupuesto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (CentroCostoModel CentroCosto in Model)

                                {
                                    int CentroCostoID = CentroCosto.CentroCostoModelID;
                                    <tr>
                                        <td>@CentroCosto.contador</td>
                                        <td>@CentroCosto.Nombre</td>
                                        <td><input class="centro" type="checkbox" name="PresuCheck" id="PresuCheck_@CentroCostoID" onclick="CheckFunction(this,@CentroCostoID)" value="" /></td>
                                        <td><input class="form-control " type="number" name="Presupuesto" id="Presupuesto_@CentroCostoID" value="@Convert.ToInt32(CentroCosto.GetPresupuesto(User.Identity.GetUserId(), CentroCostoID))" readonly /></td>
                                        <td style="display:none;"><input type="number" name="centrocostoid" id="centrocostoid" value="@CentroCostoID" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    }
        </div>
    </div>
</div>
    




<style>
    td {
        text-align: center;
    }
    th{
        text-align:center;
    }

    .Guardar {
        margin-bottom: 20px;
    }
    .littleinput{
       width:50%;
    }
</style>

<script>

    function CheckFunction(CheckSeleccionado, id) {

        var CheckBox = document.getElementById(CheckSeleccionado.id);
        var InputPresupuesto = document.getElementById("Presupuesto_"+id);

        if (CheckBox.checked == true) {
            InputPresupuesto.removeAttribute("readonly");
        } else {
            InputPresupuesto.setAttribute("readonly","readonly");
        }

    }

</script>

