@model IList<string[]>

@{
    ViewBag.Title = "IEstadoResultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right margen">
            <form role="form">
                <div class="button-list col-lg-12">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("GetExcelIEstadoResultado", "Contabilidad", FormMethod.Post))
                        {
                            @Html.BtnExportar("", "Save")
                        }
                    </div>
                </div>
            </form>
        </div>
            <div class="page-header-2">
                <h2 class="page-header">Informe Estado Resultados</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Contabilidad Reportes</a>
                    </li>
                    <li>
                        <a href="#">-</a>
                    </li>
                    <li class="active">
                        Informe Estado de Resultados
                    </li>
                </ol>
            </div>
    </div>
</div>


<div class="panel-heading">
    <div class="row form-group">
        
        <div class="col-md-3 col-sm-3">
            <label>Año</label>
            <input type="text" name="Ano" id="Ano" value="@DateTime.Now.Year.ToString()" class="form-control"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <label>Mes</label>
            <select id="Mes" name="Mes" class="form-control">
                <option value="">Todos</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-3">
            <label>Fecha Inicio</label>
            <div class='input-group date '>
                <input type='text' name="FechaInicio" id="FechaInicio" value="" class="form-control anotherSelector" autocomplete="off" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <label>Fecha Fin</label>
            <div class='input-group date '>
                <input type='text' name="FechaFin" id="FechaFin" value="" class="form-control anotherSelector" autocomplete="off" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="panel-body" id="parshial">
    
        @Html.Partial("IEstadoResultadoPartial", Model)
   
</div>

<link href="~/Content/css/Contabilidad/IEstadoResultado.css" rel="stylesheet" />

<script type="text/javascript">
   
    $(document).ready(function () {
        $('#FechaInicio').change(function (e) { filtrar(); });
        $('#FechaFin').change(function (e) { filtrar(); });
        $('#Ano').change(function (e) { filtrar(); });
        $('#Mes').change(function (e) { filtrar(); });
    });

    function filtrar()
    {
        var Anio = $('#Ano').val();
        var Mes = $('#Mes').val();

        var FechaInicio = $('#FechaInicio').val();
        var FechaFin = $('#FechaFin').val();
        $.ajax
        ({
            url: "IEstadoResultadoPartial?FechaInicio=" + FechaInicio + "&FechaFin=" + FechaFin + "&Anio=" + Anio + "&Mes=" + Mes,
            success: function (html)
            {
                $("#parshial").html(html);
            }
        });
    }


</script>



