
@{
    ViewBag.Title = "PanelClienteContable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row form-group">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header-2">
                <h2 class="page-header">Panel Cliente Contable</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Contabildad</a>
                    </li>
                    <li>
                        <a href="#">-</a>
                    </li>
                    <li class="active">
                        Panel Cliente Contable
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

  

