
<div class="clearfix"></div>

<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="home-wrapper">
                    <a href="@Url.Action("SeleccionarEmisorDesdeModulos","Home")" class="logo">
                        <i class="fa fa-edge icon-c-logo"></i>
                        <span><img src="~/Content/images/logo@2x.png" height="123" /></span>
                    </a>
                    <h1 class="home-text text-uppercase"><span class="text-primary"></span> <span class="text-pink">Próximamente </span> <span class="text-info"></span></h1>
                    <h4 class="text-muted">Estamos mejorando el sitio para usted, esta funcionalidad estará próximamente disponible.</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->



