html {
    font-size:100%;/*16px*/
}
.margen {
    margin-top: 1.9rem;
}
td {
    text-align: center;
}
@media (max-width: 768px) {
    .margen {
        margin-top: 1.8rem;
    }
}
@media (max-width: 425px) {
    .margen {
        margin-top: 3.3rem;
    }
}