html {
    font-size: 100%; /*16px*/
}

.mtop {
    margin-top: 1.57rem;
}

.modal-xlg {
    width: 70%;
}

#cuentaCont {
    width: 220px;
}

#cuentaCont2 {
    width: 220px !important;
}

.Remuneracion {
    width: 50%;
}

.Esconder {
    display: none;
}

#BoletaVenta {
    width: 20px;
    height: 20px;
    margin: 0px auto;
}

#ContaLibroVenta {
    width: 20px;
    height: 20px;
    margin: 0px auto;
}

#ContaLibroCompra {
    width: 20px;
    height: 20px;
    margin: 0px auto;
}
.tamanoModal{
    width: 90rem;
}