<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\PUBLISHASP\TryTestWeb.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>FacturaLabs</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FacturaPoliContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FacturaPoliContext, TryTestWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TryTestWeb.MySqlHistoryContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TryTestWeb.MySqlHistoryContext, TryTestWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TryTestWeb.Models.ApplicationDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TryTestWeb.Models.ApplicationDbContext, TryTestWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FacturaContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FacturaContext, TryTestWeb" MigrationConfiguration="MyConfiguration, TryTestWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FacturaProduccionContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FacturaProduccionContext, TryTestWeb" MigrationConfiguration="MyProduccionConfiguration, TryTestWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost;Port=3306;Database=TestDB;Uid=root;Pwd=root;SslMode=Preferred;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Port=3306;Database=TestDB;Uid=root;Pwd=root;SslMode=Preferred;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OtherConnection" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost;Port=3306;Database=FacturaDB;Uid=root;Pwd=root;SslMode=Preferred;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OtherConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Port=3306;Database=FacturaDB;Uid=root;Pwd=root;SslMode=Preferred;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ProdConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost;Port=3306;Database=ProductionDB;Uid=root;Pwd=root;SslMode=Preferred;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProdConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Port=3306;Database=ProductionDB;Uid=root;Pwd=root;SslMode=Preferred;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FacturaContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FacturaPoliContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FacturaProduccionContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TryTestWeb.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TryTestWeb.MySqlHistoryContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FacturaContext" />
    <_ConnectionStringsToInsert Include="FacturaPoliContext" />
    <_ConnectionStringsToInsert Include="FacturaProduccionContext" />
    <_ConnectionStringsToInsert Include="TryTestWeb.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="TryTestWeb.MySqlHistoryContext" />
  </ItemGroup>
</Project>