@model List<EmpleadoModel>

@{
    ViewBag.Title = "LiquidacionTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<center><h2>Liquidación de Sueldo TEST</h2></center>




 

@foreach (var item in Model)
{

    <section id="Liquidacion" name="Liquidacion">

        <div class="row form-group">
            <div class="col-md-4">
             <label>Nombre:</label><p>@item.nombre</p>
            </div>

        <div class="col-md-4">
            <label>Apellidos:</label><p>@item.apellidos</p>
        </div>

            <div class="col-md-4">
                <label>Cargo:</label><p>@item.CargoID</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label>RUT:</label><p>@item.rut</p>
            </div>
        </div>

    </section>

}


