html {
    font-size:100%; /*16px*/
}

.margen {
    padding-top:2.5rem;
}
.mt0 {
    margin-top:0px;
}


@media (max-width: 768px) {
    html {
        font-size:1.2rem;
    }
    .margen {
        padding-top:2.1rem;
    }
    .mt0, .mg {
        margin-top: 0.6rem;
    }
    .mgp {
        margin-top:0.4rem;
    }
}
@media (max-width: 425px) {
    html {
        font-size: 1.2rem;
    }

    .margen {
        padding-top: 3.5rem;
    }

    .mt0, .mg {
        margin-top: 0.6rem;
    }

    .mgp {
        margin-top: 0.4rem;
    }
}